* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(28, 112, 164);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

span {
    /* margin-right: 10px; */
    margin-left: 15px;
}

.Left {
    display: inline-block;
    /* border: 1px solid red; */
    /* width: auto; */
}

.Left span {
    font-size: 15px;
    color: #fff;
}

.right {
    display: flex;
    /* border: 1px solid red; */
    /* width: auto; */
}

.right a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    font-size: 15px;
}

section {
    display: flex;
    border: 1px solid red;
    width: auto;
    height: 95px;
    align-items: center;
}

.header-main {
    display: flex;
    background-color: #fff;
    border: 1px solid red;
    width: 500px;
    align-items: center;
}

.header-main img {
    width: 200px;
    height: 63.36px;
}

.home a {
    text-decoration: none;
    color: #7b5aa6;
    margin-right: 15px;
    font-size: 15px;
    border: 1px solid red;
    display: inline-block;
}